<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card">
          <div class="row g-0">
            <!-- Imagen Lateral-->
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img
                src="https://images.pexels.com/photos/8867482/pexels-photo-8867482.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt="login form"
                class="image"
                style="border-radius: 2rem 0 0 2rem"
              />
            </div>
            <!-- Formulario -->
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-white">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                  <!-- Logo -->
                  <div class="d-flex align-items-center mb-3 pb-1">
                    <i class="fas fa-cubes fa-2x me-3" style="color: #ffff"></i>
                    <span class="h1 fw-bold mb-0">Logo</span>
                  </div>
                  <!-- Campo de Username-->
                  <div class="form-outline mb-4">
                    <input
                      type="text"
                      id="username"
                      class="form-control form-control-lg"
                      formControlName="username"
                      placeholder="username"
                      ria-label="Username"
                      aria-required="true"
                      [attr.aria-invalid]="username?.invalid"
                    />
                    <div
                      *ngIf="
                        username?.invalid &&
                        (username?.dirty || username?.touched)
                      "
                      class="alert-danger text-center"
                      role="alert"
                      aria-live="assertive"
                    >
                      <div *ngIf="username?.hasError('required')">
                        Name is required.
                      </div>
                    </div>
                    <label class="form-label" for="username">Username</label>
                    
                  </div>
                  <!-- Campo de password-->
                  <div class="form-outline mb-4">
                    <input
                      type="password"
                      id="password"
                      class="form-control form-control-lg"
                      formControlName="password"
                      placeholder="password"
                      aria-label="Password"
                      aria-required="true"
                      [attr.aria-invalid]="password?.invalid"
                    />
                    <div
                      *ngIf="
                        password?.invalid &&
                        (password?.dirty || password?.touched)
                      "
                      class="alert-danger text-center"
                      role="alert"
                      aria-live="assertive"
                    >
                      <div *ngIf="password?.hasError('required')">
                        Password is required.
                      </div>
                    </div>
                    <label class="form-label" for="password">Password</label>
                    
                  </div>
                  <!-- Boton-->
                  <div class="pt-1 mb-4">
                    <button
                      data-mdb-button-init
                      data-mdb-ripple-init
                      class="btn btn-dark btn-lg btn-block"
                      type="submit"
                    >
                      Login
                    </button>
                  </div>
                  <a href="/policity" class="small">Terms of use.</a>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
