<div class="container-fluid">
    <div class="row">
<!-- Suggested code may be subject to a license. Learn more: ~LicenseLog:1847536328. -->
        <div class="d-flex flex-column  justify-content-between  col-auto bg-dark min-vh-100 shadow-sm">
            <div>
                <a href="/inicio" class="text-white text-decoration-none d-flex align-items-center">
                    <span class="fs-5">Logo</span>
                </a>
                <!--https://www.youtube.com/watch?v=-1kFtO3XZdc-->
            </div>

        </div>
    </div>
</div>
